@model Upravitelj.Models.Stanar
<script src="@Url.Content("~/Scripts/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Info o upitu</h4>
        </div>
        @using (Ajax.BeginForm("", "Upravitelj", new AjaxOptions
        {
            HttpMethod = "Get",


        }, new { @class = "form-horizontal", role = "form" }))


        {
            <div class="modal-body">
                <div class="form-horizontal">


                    <div class="row">
                        <div class="col-md-2">
                            <b>Id_stanar:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.id_stanar
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Ime_prezime:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.ime_prezime
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Id_zgrada:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.id_zgrada
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Vrsta_korisnika:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.vrsta_korisnika
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Mob:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.mob
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Email:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.email
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Lozinka:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.lozinka
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Aktivacijski_link:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.aktivacijski_link
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Aktivan:</b>
                        </div>
                        <div class="col-md-10">
                            @Model.aktivan
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                                <a href="@Url.Action("stanari")" class="btn btn-default btn-md btn-grad">Povratak</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>